:root {
    --text: #e1e7fe;
    --background: #01081e;
    --primary: #7291f8;
    --secondary: #480792;
    --accent: #ac24f5;

}

body {
    background-color: var(--background);
    color: var(--text);
}

.btn {
    background-color: var(--primary);
}

button.secondary {
    background-color: var(--secondary);
}


.img {
    height: 100px;
    max-width: 100px;
    border-radius: 15px;
}

a, a:hover, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:before{
    content: "/ᐠ ˵> ⩊ <˵マ ";
}